.wineRecommendationContainer {
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.wineRecommendation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4em;
    gap: 0.5em;
}

.wineGlass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonGroup {
    display: flex;
    gap: 1.5em;
    margin-top: 1em;
}

@media screen and (max-width: 776px) {
    .wineRecommendationContainer {
        height: max-content;
        display: flex;
        flex-direction: column-reverse;
        gap: 3em;
        justify-content: center;
    }

    .wineRecommendation {
        padding: 2em;

        h1, h3 {
            text-align: center;
        }

        p {
            text-align: justify;
        }
    }

    .buttonGroup {
        justify-content: center;
    }
}

@media screen and (min-width: 776px) {
    .wineRecommendation {
        p {
            text-align: left;
        }
    }
}